body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html,
body {
    height: 100%;
    overflow: visible;
    text-align: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

th,
td,
tr {
    border: 1px solid white;
    border-collapse: collapse;
}

p {
    margin-bottom: 0rem;
}

.modal-lg {
    width: 450px;
}

.modal-dark {
    background-color: #36393f;
    border: 1px solid#36393f;
}

.modal-dark.closeButton {
    color: #fff !important
}

.modal-footer {
    background-color: #2f3136;
}

.modal-button {
    width: 96px;
    background-color: #5865f2 !important;
    border: 1px solid #5865f2;
    color: #fff;
    border-radius: 3px;
}

.modal-button:hover {
    background-color: rgba(88, 101, 242, 0.9) !important;
    border: 1px solid #5865f2;
}

.modal-header {
    color: white;
}

.close {
    color: #fff !important;
    opacity: 1;
}

.modal-control {
    animation: fadeIn 5s;
    animation: fadeOut 5s;
}


.privacy {
    background-color: #36393f;
}

#root {
    /* Taking the full height of the body. No scroll */
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    /* Leave space for the footer. Important */
    padding-bottom: 4rem;
}

.footer {
    /* Fixing the footer at the bottom  */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    td.pic::before {
        background-image: none;
    }

    .info {
        display: none
    }

    .modal-lg {
        width: 100%;
    }

    .modal-body-meet-link {
        padding-top: 10px;
        color: #fff !important;
        text-align: left !important;
        text-decoration: none;
        background-color: #202225;
        border-radius: 3px;
        height: 40px;
        padding: 10px;
        vertical-align: middle;
    }

    .modal-body-gc-code {
        padding-top: 10px;
        color: #fff !important;
        text-align: left !important;
        text-decoration: none;
        background-color: #202225;
        border-radius: 3px;
        height: 40px;
        padding: 10px;
        vertical-align: middle;

    }
}