.table-wrap {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

table {
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    border-collapse: collapse;
}

thead {
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    border-collapse: collapse;
}

tbody {
    background-color: rgb(63, 60, 60);
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    border-collapse: collapse;
}


tr {
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    border-collapse: collapse;
}

th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    border-collapse: collapse;

}

td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    border-collapse: collapse;
    height: 182px
}

.week-title {
    font-weight: bolder;
}

.title {
    font-size: 50px;
}

.half {
    width: 10%;
}

.day {
    width: 15%;
}


td.chinese {
    position: relative;
    z-index: 1;
}

td.chinese::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../../../public/teachers/Chinese.png');
}

td.chinese:hover::before {
    opacity: 0.7;
    transition: 0.5s;
}

td.math {
    position: relative;
    z-index: 1;
}

td.math::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../../../public/teachers/Math.png');
}

td.math:hover::before {
    opacity: 0.7;
    transition: 0.5s;
}


td.english {
    position: relative;
    z-index: 1;
}

td.english::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../../../public/teachers/English.png');
}

td.english:hover::before {
    opacity: 0.7;
    transition: 0.5s;
}

td.instructor {
    position: relative;
    z-index: 1;
}

td.instructor::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../../../public/teachers/Instructor.png');
}

td.instructor:hover::before {
    opacity: 0.7;
    transition: 0.5s;
}

td.pe {
    position: relative;
    z-index: 1;
}

td.pe::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../../../public/teachers/PE.png');
}

td.pe:hover::before {
    opacity: 0.7;
    transition: 0.5s;
}


td.basic-electricity {
    position: relative;
    z-index: 1;
}

td.basic-electricity::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../../../public/teachers/Basic_Electricity.png');
}

td.basic-electricity:hover::before {
    opacity: 0.7;
    transition: 0.5s;
}

td.basic-electricity-study {
    position: relative;
    z-index: 1;
}

td.basic-electricity-study::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../../../public/teachers/Basic_Electricity_Study.png');
}

td.basic-electricity-study:hover::before {
    opacity: 0.7;
    transition: 0.5s;
}

td.music {
    position: relative;
    z-index: 1;
}

td.music::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../../../public/teachers/Music.png');
}

td.music:hover::before {
    opacity: 0.7;
    transition: 0.5s;
}

td.leader {
    position: relative;
    z-index: 1;
}

td.leader::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../../../public/teachers/Leader.png');
}

td.leader:hover::before {
    opacity: 0.7;
    transition: 0.5s;
}

td.esl {
    position: relative;
    z-index: 1;
}

td.esl::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: cover ;
    background-image: url('../../../public/teachers/ESL.png');
}

td.esl:hover::before {
    opacity: 0.7;
    transition: 0.5s;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    td.pic::before {
        background-image: none;
    }
    .info {
        display:none
    }
}